<!DOCTYPE html>
<html>
  <head>  </head>
  <body>
  <h2>Bienvenido {{username}} </h2> <br>
  <h3>Su saldo $ {{saldo}} </h3> <br>
  <h3 class="rr-subtitulo">Últimas 5 apuestas </h3> 
       <--falta tabla ultimas transacciones, boton de eliminar cuenta y boton de cerrar sesion-->
  </body>
</html>
